Q1: 
tup = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
newList = sorted(tup, key = lambda x : x[1],reverse=True)   
print(newList)

Q2: 
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2,l))

Q3: 
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x: str(x),l2))

Q4:
l = list(range(1,26))
from functools import reduce
reduce(lambda x,y: x*y,l)

Q5:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0,l))

Q6:
l = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: x[::-1] == x,l))